# Compilados de Java
*.class
bin/
build/
target/

# Configuraciones de editores / IDEs
.vscode/*
!.vscode/settings.json
.idea/
*.iml
nbproject/
nbproject/private/
.vscode/

# Logs y temporales del sistema
*.log
.DS_Store
Thumbs.dbgit rm -r --cached **/bin/ **/*.class
